.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEF9E7;
  transition: top 0.8s ease-in-out;
  background-size: cover;
}

.list_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 80px auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.index {
  position: relative;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  color: #121212;
  font-family: RiaSans-ExtraBold, sans-serif;
  font-style: normal;
  padding-left: 40px;
}

.index::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ED1C24;
  transform: translateY(-50%);
  content: "";
}

.ellipsis {
  display: flex;
  align-items: center;
  height: 260px;
}

.ellipsis div {
  display: -webkit-box;
  width: 1600px;
  font-size: 100px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -2.5px;
  color: #121212;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.qr {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.list {
  display: flex;
  width: 100%;
  height: 2750px;
  max-width: 1920px;
  margin: 0 auto;
  border-top: 8px solid #121212;
  border-bottom: 8px solid #121212;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-top: 120px;
}

.list::-webkit-scrollbar {
  display: none;
}

.list .list_box {
  display: flex;
  flex-direction: column;
  width: 962px;
  height: fit-content;
  gap: 140px;
  margin-bottom: 120px;
}

.list .list_box .list_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 6px solid #121212;
  box-shadow: 30px 40px 0 0 #121212;
}

.list .list_box .list_item img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 52px 80px;
  background: #FFF;
  border-top: 6px solid #121212;
  gap: 20px;
}

.detail div:first-child {
  display: -webkit-box;
  font-size: 52px;
  font-weight: 700;
  line-height: 140%;
  color: #121212;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.detail div:last-child {
  display: -webkit-box;
  font-size: 44px;
  font-weight: 500;
  line-height: 140%;
  color: #454545;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.list .list_box:first-child {
  border-right: 3px solid #121212;
  padding-left: 40px;
  align-items: flex-start;
}

.list .list_box:last-child {
  padding-right: 60px;
  align-items: flex-end;
  padding-top: 380px;
}

.list .list_box:first-child .list_item::after {
  position: absolute;
  top: 50%;
  right: -100px;
  width: 100px;
  height: 4px;
  border-radius: 50%;
  background-color: #121212;
  transform: translateY(-50%);
  content: "";
}

.list .list_box:first-child .list_item::before {
  position: absolute;
  top: 50%;
  right: -140px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #121212;
  transform: translateY(-50%);
  content: "";
}

.list .list_box:last-child .list_item::after {
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 4px;
  border-radius: 50%;
  background-color: #121212;
  transform: translateY(-50%);
  content: "";
}

.list .list_box:last-child .list_item::before {
  position: absolute;
  top: 50%;
  left: -130px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #121212;
  transform: translateY(-50%);
  content: "";
}

.iframe_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  flex-direction: column;
  width: 1960px;
  height: 3200px;
  padding: 40px 40px 60px;
  border-radius: 60px;
  background: #fff;
  transform: translate(-50%, -50%);
  background-size: cover;
  gap: 60px;
}

.iframe_popup iframe {
  width: 1880px;
  height: 2960px;
  border-radius: 40px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.iframe_popup iframe::-webkit-scrollbar {
  display: none;
}

.iframe_popup_close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.iframe_popup_close img {
  width: 80px;
  height: 80px;
}

.iframe_popup_close div {
  font-size: 60px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
  font-family: Pretendard-Medium, sans-serif;
  font-style: normal;
}





