.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #121212;
  overflow: hidden;
}

.scroll_wrapper {
  width: 100%;
  height: 3040px;
}

.scroll {
  height: 100%;
  overflow: visible;
  transition: height 2s ease;
  padding-bottom: 200px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.full_mode {
  position: absolute;
  right: 70px;
  bottom: 70px;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #000;
  box-shadow: 20px 30px 60px 0 rgb(0 0 0 / 30%);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.full_mode img {
  width: 96px;
  height: 96px;
  animation: bounce 1s infinite ease-in-out;
}

.one_handed_mode {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 80px;
  border-radius: 80px 80px 0 0;
  background: rgb(0 0 0 / 30%);
  transform: translateX(-50%);
  cursor: pointer;
}

.one_handed_mode img {
  width: 50px;
  height: 50px;
  transform: scaleY(1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 220px;
  padding: 0 100px;
}

.header img {
  width: 436px;
  height: 60px;
}

.header div {
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
  color: #121212;
  font-family: Pretendard-SemiBold, sans-serif;
  font-style: normal;
}

.go_home {
  position: absolute;
  bottom: 60px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border: 3px solid #121212;
  border-radius: 50%;
}

.go_home img, .action_btn a img {
  width: 100px;
  height: 100px;
}

.action_btn {
  position: absolute;
  right: 60px;
  bottom: 60px;
  display: flex;
  gap: 40px;
}

.action_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border: 3px solid #B8B8B8;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  flex-direction: column;
  width: 1254px;
  height: 1040px;
  background: url("../../../ict/img/digitalGallery/popup.png") no-repeat center center;
  transform: translate(-50%, -50%);
  background-size: cover;
  gap: 80px;
  padding-top: 176px;
  padding-right: 54px;
}

.popup_content {
  font-size: 60px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -1.2px;
  text-align: center;
  color: #121212;
  font-family: Pretendard-Regular, sans-serif;
  font-style: normal;
}

.popup_action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.popup_action div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: 3px solid #B8B8B8;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #7A7A7A;
  background: #FFF;
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
}

.popup_action a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: #FFF;
  background: #121212;
  font-family: Pretendard-Bold, sans-serif;
  font-style: normal;
}

.no_data {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  text-align: center;
  font-family: RiaSans-ExtraBold, sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.2px;
}

.spinner {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border: 10px solid #ccc;
  border-top: 10px solid #121212;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}