.painting_container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.painting_container img {
  width: 100%;
  height: 100vh;
}

.painting_action_btn {
  position: absolute;
  bottom: 162px;
  left: 50px;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgb(18 18 18 / 80%);
}

.painting_action_btn img {
  width: 100px;
  height: 100px;
}