.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  transition: top 0.8s ease-in-out;
  background-size: cover;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3124px;
  max-width: 1920px;
  margin: 40px auto 0;
  box-shadow: 0 8px 0 #121212;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.list img {
  width: 1840px;
  height: 3220px;
}