.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEF9E7;
  transition: top 0.8s ease-in-out;
  background-size: cover;
}

.list_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 80px auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.index {
  position: relative;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  color: #121212;
  font-family: RiaSans-ExtraBold, sans-serif;
  font-style: normal;
  padding-left: 40px;
}

.index::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ED1C24;
  transform: translateY(-50%);
  content: "";
}

.title div:last-child {
  overflow: hidden;
  color: #121212;
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -2.5px;
}

.box {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  border-top: 8px solid #121212;
  border-bottom: 8px solid #121212;
  position: relative;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 140px 0 120px 0;
}

.tab div {
  cursor: pointer;
  border: 6px solid #121212;
  display: flex;
  width: 600px;
  height: 220px;
  justify-content: center;
  align-items: center;
  color: #121212;
  text-align: center;
  font-family: RiaSans-ExtraBold, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  transition: background 0.3s ease, color 0.3s ease;
}

.tab div.active {
  background: #121212;
  color: #FFF;
}

.tab1, .tab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_img {
  width: 1840px;
  height: 1300px;
  border: 6px solid #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 240px;
  position: relative;
}

.main_img div {
  position: absolute;
  bottom: 100px;
  right: 100px;
  border-radius: 100px;
  height: 126px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.50);
  color: #FFF;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.main_img img {
  width: 1720px;
  height: 1180px;
}

.character_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 80px;
}

.character {
  position: relative;
}

.character img {
  width: 400px;
  height: 400px;
}

.character div {
  top: -180px;
  left: -43px;
  position: absolute;
  width: 400px;
  height: 255px;
  background: url(../../../ict/img/digitalGallery/bubble.png) no-repeat center center;
  color: #121212;
  text-align: center;
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  padding-top: 70px;
  justify-content: center;
}

.character a {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: url("../../../ict/img/digitalGallery/more.svg") no-repeat center center;
}

.caption {
  display: flex;
  width: 100%;
  max-width: 1840px;
  gap: 80px;
  margin: 0 auto 104px;
}

.caption div {
  border: 4px solid #121212;
  width: 50%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  text-align: center;
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.tab2 .character_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 80px;
}

.tab2 .character img {
  width: 320px;
  height: 320px;
}

.tab2 .character div {
  top: -180px;
  left: -46px;
  position: absolute;
  width: 412px;
  height: 255px;
  background: url(../../../ict/img/digitalGallery/bubble.png) no-repeat center center;
  color: #121212;
  text-align: center;
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  padding-top: 70px;
  justify-content: center;
}
.character a {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: url("../../../ict/img/digitalGallery/more.svg") no-repeat center center;
}

.caption {
  display: flex;
  width: 100%;
  max-width: 1840px;
  gap: 80px;
  margin: 0 auto 104px;
}

.tab2 .caption div:first-child {
  width: 1080px;
}

.tab2 .caption div:last-child {
  width: 700px;
}