.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FEF9E7;
  transition: top 0.8s ease-in-out;
  background-size: cover;
}

.list_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 80px auto;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.index {
  position: relative;
  font-size: 48px;
  font-weight: 800;
  line-height: 120%;
  text-align: center;
  color: #121212;
  font-family: RiaSans-ExtraBold, sans-serif;
  font-style: normal;
  padding-left: 40px;
}

.index::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ED1C24;
  transform: translateY(-50%);
  content: "";
}

.title div:last-child {
  overflow: hidden;
  color: #121212;
  text-overflow: ellipsis;
  font-family: Pretendard-Bold, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -2.5px;
}

.diorama_content {
  padding: 120px 0;
  border-top: 8px solid #000;
  border-bottom: 8px solid #000;
  height: 2864px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.diorama_content::-webkit-scrollbar {
  display: none;
}

.description_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1840px;
  height: 200px;
  min-height: 200px;
  color: #121212;
  text-align: center;
  font-family: Pretendard-Medium, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: 4px solid #121212;
}

.secondFloorLandscape {
  padding: 60px;
  width: 1840px;
  height: 1120px;
  border: 6px solid #121212;
}

.list {
  display: flex;
  gap: 60px;
  width: 1840px;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 60px;
}

.item {
  position: relative;
  width: 890px;
  height: 890px;
  border: 6px solid #121212;
}

.item::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 50%, rgb(0 0 0 / 80%) 100%);
  content: '';
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_title {
  position: absolute;
  bottom: 117px;
  left: 80px;
  color: #FFF;
  font-family: Pretendard-SemiBold, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  z-index: 9;
}

.item_writer {
  position: absolute;
  left: 80px;
  bottom: 60px;
  color: #C3C3C3;
  font-family: Pretendard-Regular, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  z-index: 9;
}