.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  transition: top 0.8s ease-in-out;
  background-size: cover;
}

.slide_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3254px;
  border-bottom: 8px solid #121212;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.slide_prev, .slide_next {
  width: 160px;
  height: 160px;
  cursor: pointer;
  z-index: 9999;
}

.slide_prev {
  margin-right: -60px;
}

.slide_next {
  margin-left: -60px;
}

.slide {
  width: 1840px;
  height: 2603px;
}

.slide_item {
  width: 1840px;
  height: 2603px;
}

.slide_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}